<html>
<style>
    body {
        font-family: Helvetica;
    }
    .datetime {
        color: blue;
    }
</style>
<body>
<h1>Create a new entry</h1>
<form method="post">
    <strong>Text: </strong><input type="text" name="text"><br />
    <input type="submit">
</form>
</body>
</html>
